## Set And Dictionay

In [1]:
from functools import reduce

# List of students' ages
ages = [18, 21, 19, 22, 20, 23]
print("List of student ages :", ages)

# Higher-order function - Map: Calculate age after 5 years
ages_after_5_years = list(map(lambda x: x + 5, ages))
print("Ages after 5 years:", ages_after_5_years)

# Higher-order function - Filter: Find students above 20 years old
above_20 = list(filter(lambda x: x > 20, ages))
print("Students above 20 years old:", above_20)

# Higher-order function - Reduce: Calculate average age
average_age = reduce(lambda x, y: x + y, ages) / len(ages)
print("Average age of students:", average_age)

List of student ages : [18, 21, 19, 22, 20, 23]
Ages after 5 years: [23, 26, 24, 27, 25, 28]
Students above 20 years old: [21, 22, 23]
Average age of students: 20.5

In [2]:
# from functools import reduce

# Dictionary of students' grades
student_grades = {
    "Alice": [85, 90, 92],
    "Bob": [70, 65, 80],
    "Charlie": [55, 60, 58]
}
print("Data in dictionary :", student_grades)

# Higher-order function - Map: Add 5 bonus marks to each student's grades
updated_grades = {name: list(map(lambda x: x + 5, grades)) for name, grades in student_grades.items()}
print("Updated grades:", updated_grades)

# Higher-order function - Filter: Find students who passed (average grade >= 60)
passed_students = list(filter(lambda x: sum(x[1]) / len(x[1]) >= 60, student_grades.items()))
print("Students who passed:", passed_students)

# Higher-order function - Reduce: Calculate the total number of students
total_students = reduce(lambda x, _: x + 1, student_grades, 0)
print("Total number of students:", total_students)

Data in dictionary : {'Alice': [85, 90, 92], 'Bob': [70, 65, 80], 'Charlie': [55, 60, 58]}
Updated grades: {'Alice': [90, 95, 97], 'Bob': [75, 70, 85], 'Charlie': [60, 65, 63]}
Students who passed: [('Alice', [85, 90, 92]), ('Bob', [70, 65, 80])]
Total number of students: 3

## Pandas

In [12]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Name': ['John', 'Alice', 'Bob', 'Emily', 'David'],
    'Age': [25, 30, 35, 28, 40],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
    'Salary': [50000, 60000, 70000, 55000, 75000],
    'City': ['New York', 'Los Angeles', 'Chicago', 'San Francisco', 'Boston']
}

df = pd.DataFrame(data)

# Display the DataFrame
print("DataFrame:")
# print(df)
df.head()
# print()

DataFrame:

    Name  Age  Gender  Salary           City
0   John   25    Male   50000       New York
1  Alice   30  Female   60000    Los Angeles
2    Bob   35    Male   70000        Chicago
3  Emily   28  Female   55000  San Francisco
4  David   40    Male   75000         Boston

In [6]:

# Basic EDA
print("Basic EDA:")
print("1. Summary Statistics:")
print(df.describe())
print()

Basic EDA:
1. Summary Statistics:
            Age        Salary
count   5.00000      5.000000
mean   31.60000  62000.000000
std     5.94138  10368.220677
min    25.00000  50000.000000
25%    28.00000  55000.000000
50%    30.00000  60000.000000
75%    35.00000  70000.000000
max    40.00000  75000.000000

In [7]:
print("2. Data Types:")
print(df.dtypes)
print()

2. Data Types:
Name      object
Age        int64
Gender    object
Salary     int64
City      object
dtype: object

In [9]:
print("3. Number of Missing Values:")
print(df.isnull().sum())
print()

print("4. Unique Values in Categorical Columns:")
for column in df.select_dtypes(include=['object']).columns:
    print(column, ":", df[column].unique())
print()

3. Number of Missing Values:
Name      0
Age       0
Gender    0
Salary    0
City      0
dtype: int64

4. Unique Values in Categorical Columns:
Name : ['John' 'Alice' 'Bob' 'Emily' 'David']
Gender : ['Male' 'Female']
City : ['New York' 'Los Angeles' 'Chicago' 'San Francisco' 'Boston']

In [10]:
print("5. Value Counts in Categorical Columns:")
for column in df.select_dtypes(include=['object']).columns:
    print(column, ":\n", df[column].value_counts())
print()

5. Value Counts in Categorical Columns:
Name :
 Name
John     1
Alice    1
Bob      1
Emily    1
David    1
Name: count, dtype: int64
Gender :
 Gender
Male      3
Female    2
Name: count, dtype: int64
City :
 City
New York         1
Los Angeles      1
Chicago          1
San Francisco    1
Boston           1
Name: count, dtype: int64